header {
  font-size: 50px;
  font-weight: bold;
  color: green;
  background-color: rgba(165, 97, 42, 0.545);
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  padding: 20px;
}

.text {
  font-size: 22px;
  text-align: center;
}

#JoinUs {
  width: 30px;
  border: 5px solid green;
  padding: 5px;
  background-color: rgba(165, 97, 42, 0.545);
  text-align: center;
}

.Center {
  text-align: center;
  font-size: 22px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.gallery img {
  width: 30%;
  padding: 10px;
}

.column {
  float: left;
  width: 33.33%;
  border: 10px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

table {
  width: 40%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

tr:hover {
  background-color: green;
}

th,
td {
  border-bottom: 1px solid #ddd;
}

#map {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

form {
  border: 10px solid rgba(165, 97, 42, 0.27);
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: rgba(165, 97, 42, 0.159);
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

button {
  background-color: green;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity: 1;
}

.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

.cancelbtn,
.signupbtn {
  float: left;
  width: 50%;
}

.container {
  padding: 30px;
}
