.flexcontainer {
    .nav {

        a {
            font-size: 2rem;
            margin-right: 1rem;
            color: $white;

            &:hover {
                text-decoration: underline !important;
                text-underline-offset: .5rem;
            }
        }
    }

}