* {
  background-color: rgb(58, 56, 56);
}
.topnav {
  background-color: black;
  overflow: hidden;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: black;
}
#float-right {
  float: right;
}

.topnav a:hover {
  background-color: powderblue;
  color: black;
}

.topnav a.active {
  background-color: powderblue;
  color: black;
}

.topnav .icon {
  display: none;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.photo img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  float: left;
  margin-left: 100px;
  margin-top: 100px;
  margin-bottom: 70px;
}

.intro {
  margin-right: 80px;
}
.name {
  text-align: center;
  color: white;
  text-decoration: underline white;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  margin-top: 230px;
  margin-bottom: 40px;
}

.summary {
  text-align: center;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  color: white;
  font-size: 20px;
}
